<div class="col s12 center">
	<div class="titulo_inicio">Administração de Notícias</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
		
		
		
		<a class="btn light ajax-load" href="<%= data.link_sistema%>/administracao/noticias/criar">Cadastrar Notícia</a>
		
		<div class="card light">
			
			<table>
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Descrição</th>
						<th>Data Cadastro</th>
						<th>Club</th>
						<th class="center">Ação</th>
					</tr>
				</thead>
				<tbody>
					
					<%
					if (typeof data.noticias != 'undefined' && data.noticias.length > 0) {
						for (var i = 0; i < data.noticias.length; i++) { %>
							
							<tr>
								<td>
									<a class="limitador_3_linhas break-all ajax-load black-text" href="<%= data.link_sistema%>/administracao/noticias/editar/<%= data.noticias[i].id %>">
										<%= data.noticias[i].titulo %>
									</a> 
								</td>
								<td>
									<a class="limitador_3_linhas break-all ajax-load black-text" href="<%= data.link_sistema%>/administracao/noticias/editar/<%= data.noticias[i].id %>">
										<%= data.noticias[i].descricao %> 
									</a>
								</td>
								<td>
									<a class="limitador_3_linhas break-all ajax-load black-text" href="<%= data.link_sistema%>/administracao/noticias/editar/<%= data.noticias[i].id %>">
										<%= data.noticias[i].data_cadastro %>
									</a>
								</td>
								<td>
									<a class="limitador_3_linhas break-all ajax-load black-text" href="<%= data.link_sistema%>/administracao/noticias/editar/<%= data.noticias[i].id %>">
										<%= data.noticias[i].club == 1 ? 'Sim': 'Não' %>
									</a>
								</td>
								<td style="width: 30%;" class="center">
									<a href="" style="font-size: 1.4em;">
										<i class="fas fa-times-circle red-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data.noticias[i].id %>" data-texto="Você tem certeza que quer deletar '<%= data.noticias[i].titulo %>'? " data-to="/sistema/administracao/noticias/desativar" data-back="<%= data.link_sistema%>/administracao/noticias"></i>
									</a>
								</td>
								
							</tr>
							
							<%} 
						}else{%>
							<tr>
								<td>Não há notícias no momento</td>
							</tr>
							<%}%>
						</tbody>
						
					</table>
				</div>
				
				
				
				
				
				<%}else{%>
					<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
					<%}%>
					
				</div>