<div class="col s12 center">
	<div class="titulo_inicio">Administração de Aprovação de Aporte</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
		
		
		<div class="card light">
			
			<table class="table-full-width">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Perfil</th>
						<th>Valor</th>
						<th>Data Cadastro</th>
						<th class="center">Ação</th>
					</tr>
				</thead>
				<tbody>
					
					<%
					if (typeof data.pedido_aporte != 'undefined' && data.pedido_aporte.length > 0) {
						for (var i = 0; i < data.pedido_aporte.length; i++) { %>
							
							<tr>
								<td>
									<a class="black-text ajax-load break-all" href="<%= data.link_sistema%>/administracao/pedido-aporte/editar/<%= data.pedido_aporte[i].id %>">
										<%= data.pedido_aporte[i].nome %>
									</a> 
								</td>
								<td>
									<a class="black-text ajax-load break-all" href="<%= data.link_sistema%>/administracao/pedido-aporte/editar/<%= data.pedido_aporte[i].id %>">
										<%= data.pedido_aporte[i].plano %> 
									</a>
								</td>
								<td>
									<a class="black-text ajax-load" href="<%= data.link_sistema%>/administracao/pedido-aporte/editar/<%= data.pedido_aporte[i].id %>">
										R$<%= data.pedido_aporte[i].valor %>
									</a>
								</td>
								<td>
									<a class="black-text ajax-load" href="<%= data.link_sistema%>/administracao/pedido-aporte/editar/<%= data.pedido_aporte[i].id %>">
										<%= data.pedido_aporte[i].data_cadastro %>
									</a>
								</td>
								<td style="width: 30%;" class="center">
									<a href="" style="font-size: 1.4em;">
										<i class="fas fa-times-circle red-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data.pedido_aporte[i].id %>" data-texto="Você tem certeza que quer deletar o pedido de aporte do '<%= data.pedido_aporte[i].nome %>' no valor de R$'<%= data.pedido_aporte[i].valor %>'? " data-to="/sistema/administracao/pedido-aporte/desativar" data-back="<%= data.link_sistema%>/administracao/pedidos-aportes"></i>
									</a>
								</td>
								
							</tr>
							
							<%} 
						}else{%>
							<tr>
								<td colspan="5" class="center">Não há Aprovações de Aportes no momento</td>
							</tr>
							<%}%>
						</tbody>
						
					</table>
				</div>
				
				
				
				
				
				<%}else{%>
					<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
					<%}%>
					
				</div>