<div class="col s12 center">
	<div class="titulo_inicio">Administração de Ganhos Mensais</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
		
		
		
		<a class="btn light ajax-load" href="/sistema/administracao/ganhos-mensais/criar">Cadastrar Porcentagem Mês</a>
		
		<div class="card light">
			
			<table>
				<thead>
					<tr>
						<th>Mês</th>
						<th>Plano</th>
						<th>Porcentagem</th>
						<th class="center">Ação</th>
					</tr>
				</thead>
				<tbody>
					
					<%
					if (typeof data.ganhos_mensais != 'undefined' && data.ganhos_mensais.length > 0) {
						for (var i = 0; i < data.ganhos_mensais.length; i++) { %>
							
							<tr>
								<td>
									<a class="ajax-load black-text" href="/sistema/administracao/ganhos-mensais/editar/<%= data.ganhos_mensais[i].id %>">
										<%= data.ganhos_mensais[i].nome_mes %>
									</a> 
								</td>
								<td>
									<a class="ajax-load black-text" href="/sistema/administracao/ganhos-mensais/editar/<%= data.ganhos_mensais[i].id %>">
										<%= data.ganhos_mensais[i].plano %> 
									</a>
								</td>
								<td>
									<a class="ajax-load black-text" href="/sistema/administracao/ganhos-mensais/editar/<%= data.ganhos_mensais[i].id %>">
										<%= data.ganhos_mensais[i].porcentagem %> %
									</a>
								</td>
								<td style="width: 30%;" class="center">
									<a href="" style="font-size: 1.4em;">
										<i class="fas fa-times-circle red-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data.ganhos_mensais[i].id %>" data-texto="Você tem certeza que quer deletar o Ganho mensal de '<%= data.ganhos_mensais[i].nome_mes %>' de Porcentagem de '<%= data.ganhos_mensais[i].porcentagem %>%'? " data-to="/sistema/administracao/ganhos-mensais/desativar" data-back="/sistema/administracao/ganhos-mensais"></i>
									</a>
								</td>
								
							</tr>
							
							<%} 
						}else{%>
							<tr>
								<td>Não há Ganhos Mensais no momento</td>
							</tr>
							<%}%>
						</tbody>
						
					</table>
				</div>
				
				
				
				
				
				<%}else{%>
					<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
					<%}%>
					
				</div>